/* Estilo para todo el contenedor */
body {
    background-color: #e0f7fa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
h1 {
    text-align: center;
    color: #00796b;
    margin-top: 20px;
    font-size: 2.5em;
}

/* Contenedores */
#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
}

/* Estilo para los dropdowns y entradas */
.dash-dropdown,
.dash-input {
    margin: 10px;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #00796b;
    border-radius: 5px;
}

/* Botones */
button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #004d40;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Estilo del gráfico */
#graph {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #00796b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
